body {
    background-color: #245269;
    background-image: url("../img/empty-road3.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: #f8f8f8;
}
#greyBox {
    background-image: url("../img/techball.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #f8f8f8;
}
h1 {
    color: greenyellow;
}
a {
    color: greenyellow;
}
rowLimit {
    max-height: 200px;
}