body {
background-color: darkgray;
}
.opKey {
    box-shadow: inset 1px 1px 50px #000;
}
.numberKeys {
    box-shadow: inset 1px 1px 50px #000;
}
.executeKeys {
    box-shadow: inset 1px 1px 50px #000;
}
.calc {
    background-color: #3c3c3c;
    border-radius: 20px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: inset 1px 1px 50px #000;
}