
#selfport1 {
    width: 15%;
    length: 15%;
}
#introtext {
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 4em;
}
#introemail {
    text-align: right;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    font-weight: lighter;
    margin-bottom:0;
}
#introphone {
    text-align: right;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
    margin-top: 0;
}
body {
    background-image: url("../IMG/grafiti.jpg");
    color: rgba(5, 166, 255, 0.84);
}
#navbar {
    font-size: 2em;
}